# About this Dataset  
++++ Census.gov  
+++ American Community Survey Data on Marriage and Divorce  
Beginning in 2008, the ACS tables include survey-based estimates of marriage and divorce rates (per 1,000 adults). Estimates of marriage and divorce rates based on administrative data are available from the National Center for Health Statistics.

++ Marital Events of Americans: 2009 (ACS-13)
- [Supplemental Table XLS - 29k](https://www.census.gov/hhes/socdemo/marriage/data/acs/SuppMarEvents_T1_Fig56.xls)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning) 
%matplotlib inline

In [6]:
!ls data

Table1_asian_2009.csv             Table1_white-nonhispanic_2009.csv
Table1_black_2009.csv             Table1_white_2009.csv
Table1_hispanic_2009.csv

In [9]:
marital = pd.read_csv('data/Table1_asian_2009.csv')
marital.head()

,File with 5 tables. All tables have row headers in column A. Tables column headers in row 9.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Table 1. Marital History for People 15 Years ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Total, 15 years and over",15 to,20 to,25 to,30 to,35 to,40 to,50 to,60 to,NaN,NaN
2,Characteristic,NaN,19,24,29,34,39,49,59,69,70 years,NaN
3,NaN,Estimate,years,years,years,years,years,years,years,years,and over,NaN
4,Asian alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
marital[]

,File with 5 tables. All tables have row headers in column A. Tables column headers in row 9.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
1,NaN,"Total, 15 years and over",15 to,20 to,25 to,30 to,35 to,40 to,50 to,60 to,NaN,NaN
2,Characteristic,NaN,19,24,29,34,39,49,59,69,70 years,NaN
3,NaN,Estimate,years,years,years,years,years,years,years,years,and over,NaN
4,Asian alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,.MEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,..Total (in thousands),"4,352",369,334,505,440,488,940,608,387,281,NaN
7,..Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,...Never married,33.0,97.1,94.8,70.9,30.6,17.1,13.7,6.4,-,5.8,NaN
9,...Ever married,67.0,2.9,5.2,29.1,69.4,82.9,86.3,93.6,100.0,94.2,NaN
10,....Married once,62.4,1.9,5.2,27.6,68.8,77.0,80.0,84.6,90.7,91.2,NaN
11,�..Still married 1/,55.8,1.6,4.2,26.3,67.5,71.8,72.4,74.1,75.5,74.0,NaN
12,....Married twice,4.3,0.9,-,1.5,0.6,5.2,6.0,9.0,7.3,3.0,NaN
13,�..Still married 1/,3.7,-,-,0.7,0.6,5.2,5.5,7.4,7.3,1.9,NaN
14,�.Married 3 or more times,0.3,-,-,-,-,0.7,0.4,-,2.0,-,NaN
15,�..Still married 1/,0.2,-,-,-,-,0.7,-,-,1.4,-,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,...Ever divorced,8.2,0.9,-,1.5,1.8,10.7,11.3,17.3,14.2,6.3,NaN
18,�.Currently divorced,4.4,0.9,-,0.8,1.2,4.7,6.1,9.5,7.3,5.0,NaN
19,...Ever widowed,2.1,-,-,0.9,-,-,1.0,1.6,7.8,13.7,NaN
20,�.Currently widowed,1.7,-,-,0.9,-,-,0.6,1.6,5.4,12.0,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,.WOMEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,..Total (in thousands),"4,919",364,347,492,549,565,957,794,443,408,NaN
24,..Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,...Never married,23.8,96.5,85.2,51.6,11.8,10.2,6.6,5.8,7.1,1.3,NaN
26,...Ever married,76.2,3.5,14.8,48.4,88.2,89.8,93.4,94.2,92.9,98.7,NaN
27,....Married once,69.2,3.5,14.8,48.4,84.6,86.2,80.1,83.4,81.7,88.3,NaN
28,�..Still married 1/,57.2,3.5,13.6,46.8,78.8,76.7,69.6,70.6,61.4,39.1,NaN
29,....Married twice,6.4,-,-,-,3.0,3.3,12.0,10.1,10.2,9.6,NaN
30,�..Still married 1/,5.0,-,-,-,3.0,2.8,11.4,7.0,7.7,4.0,NaN
31,�.Married 3 or more times,0.6,-,-,-,0.6,0.4,1.2,0.7,1.0,0.9,NaN
32,�..Still married 1/,0.5,-,-,-,0.6,0.4,1.2,0.3,1.0,-,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,...Ever divorced,11.1,-,0.7,0.6,6.9,11.9,19.2,17.4,14.8,11.2,NaN
35,�.Currently divorced,5.6,-,0.7,0.6,4.3,8.7,6.8,10.0,6.5,6.2,NaN
36,...Ever widowed,7.1,-,-,-,1.3,0.6,1.7,5.5,17.2,49.9,NaN
37,�.Currently widowed,6.5,-,-,-,0.3,0.6,1.5,4.7,15.3,47.4,NaN
38,"Source: U.S. Census Bureau, Survey of Income ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1/ Includes those currently separated.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,- Zero or rounds to zero.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Internet release date: May 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN